@import 'variables';
@import 'mixin';

.explore {
    display: flex;
    align-items: center; 
    padding: 4rem 9%;
    background-color: $background-white; 

    &-container {
        display: flex;
        flex-direction: row; 
        gap: 2rem; 
        justify-content: center; 
        align-items: center; 
    }

    &-image img {
        width: 100%; 
        max-width: 600px; 
        height: auto; 
        border-radius: 10px; 
    }

    &-text {
        flex: 1; 
        text-align: left; 
        margin-left: 3rem; 

        &-text h2 {
            font-size: 2rem; 
            margin-bottom: 1rem;
            color: $primary-color; 
        }

        &-text p {
            font-size: 1.3rem; 
            color: $dark-text; 
            margin-bottom: 2rem; 
        }

        a.explore-btn {
            @include button-style($primary-color, $light-text, $primary-color);  
            margin-top: 1.5rem;     
        }
    }
}